{% load static %}
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Log in | shiper site </title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">





    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Shiper administration</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">



<form action="/admin/login/?next=/admin/" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="11a8nGzHwfGWN0NPog5KVCNN7c556AyTAp2GIQPDtprxxTIFV2423ZLDWwAODFdB">
  <div class="form-row">
    
    <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
  </div>
  <div class="form-row">
    
    <label class="required" for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required id="id_password">
    <input type="hidden" name="next" value="/admin/">
  </div>
  
  
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>

						<li>
							<span class="txt1">
								Don’t have an account?
							</span>

							<a href="shiper_registration.html" class="txt2">
								Sign up
							</a>
						</li>
</form>

</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
